body {
    font-family: "Segoe UI";
    text-align: center;
    opacity: 1;
    letter-spacing: 0;
    background-color: #FFFFFF;
    line-height: 26px;
    margin: 0px;
}

h1 {
    font-family: "Segoe UI Semibold";
    font-size: 24px;
    color: #AE646E;
    line-height: 30px;
}

h2 {
    font-size: 18px;
    color: #408FEC;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    color: #707070;
    margin-bottom: 10px;
}

p {
    font-size: 11px;
    color: #707070;
    margin: 0px;
}

.warning {
    padding: 48px;
}

.row {
    display: flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
}

.box {
    text-align: center;
    float: left;
    width: 181px;
    height: 182px;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 20px rgba(26, 46, 86, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.circle {
    background: #FFEEF3;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    height: 415px;
    width: 928px;
}

.foot {
    margin-top: 48px;
}

.box img {
    margin-top: 36px;
}

.foot img {
    margin-top: 16px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .circle {
        width: 100%;
        border-bottom-left-radius: 100% 25%;
        border-bottom-right-radius: 100% 25%;
        height: 330px;
    }

    .warning {
        padding: 30px 50px 0px 50px;
    }

    .box {
        margin: 20px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 720px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .circle {
        width: 100%;
        border-bottom-left-radius: 100% 50%;
        border-bottom-right-radius: 100% 50%;
        height: 330px;
    }

    .warning {
        padding: 50px 50px 0px 50px;
    }

    .box {
        margin: 24px;
    }

    .foot {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 960px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 100px 0px 100px;
    }

    .circle {
        width: 100%;
        border-bottom-left-radius: 100% 100%;
        border-bottom-right-radius: 100% 100%;
        height: 320px;
    }

    .warning {
        padding-bottom: 24px;
    }

    .box {
        margin: 36px;
    }
}
